.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

body{
    background:#6495ED;
}

header{
    background: black;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;   
}

header img{
    height: 100%;
    height: 100px;
    margin: 0 auto;   
}

main{
    background: snow;
}

nav{
    height: 100%;
    width: 100%;
    background: #000080;
}


h1{
    text-align: center;
    font-size: 3.2em;
}

section{
    width: 100;
    font-size: 12px;
    padding:20px;
}

section figure{
    margin: 0 auto;   
}

.imagem1{
    padding: 50px 
    height: 10vmin;
    width: 60vmax;    
    margin: auto;
}

.imagem2{
    padding: 10px;
    height: 30vmin;
    width: 37vmax;    
    margin: auto;
        
}

.legendas{
    caption-align: center;
    font-size: 1rem;
}
p{  
    font-size: 1.7em;
    line-height: 1.5;
    line-height: 1.5;
    text-align: justify   
}

h2{
    text-align: center;
    font-size: 2.9em;
}